* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background: #f2f3f3;
    color:#222;
}

input:focus {
    outline:none;
}

button {
    background-color: transparent;
    border:none;

    &:not(:disabled) {
        cursor: pointer;
    }
}

.heading {
    font-size: 24px;
    font-weight: 700;
    letter-spacing:-0.2px;
    color:#222;
    line-height: 34px;
    margin: 10px 0;
}