.text-field {
  position: relative;
  border: 1px solid rgba(60, 66, 87, 0.24);
  border-radius: 6px;

  input {
    border: none;
    height: 45px;
    width: 100%;
    position: relative;
    z-index: 2;
    background: transparent;
    padding: 0 18px;
  }

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    transition: all 0.25s;
    display: inline-block;
    background: white;
    padding: 0 2px;
    color: #444650;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01px;
  }

  &__error-msg {
    font-size: 12px;
    margin-top: 2px;
  }

  &--focused label,
  &--has-value label {
    top: 0;
    font-size: 12px;
  }

  &__wrapper {
    margin: 6px 0;

    &--error {

      .text-field {
        border-color: red;

        label{
            color: red;
        }
      }

      .text-field__error-msg {
        color: red;
      }
    }
  }
}
