.container {
  margin: 20px auto;
  background: white;
  max-width: var(--container-width);
  height: var(--container-height);
  padding: 0 var(--container-horizontal-padding);
  padding-bottom: 10px;
  position: relative;
  display: flex;

  .inner {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: auto;
  }
}
